@using Volo.Abp.Users
@using Volo.Abp.MultiTenancy
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject ICurrentUser _currentUser
@inject ICurrentTenant _currentTenant
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigation
@inject SignOutSessionStateManager _signOutManager
<AuthorizeView>
    <Authorized>
        <Dropdown Placement="Placement.BottomRight" BoundaryAdjustMode="TriggerBoundaryAdjustMode.InView">
            <Overlay>
                <Menu>
                    @if (Menu != null)
                    {
                        @foreach (var menuItem in Menu.Items)
                        {
                            <AntDesign.MenuItem OnClick="@(() => NavigateToAsync(menuItem.Url, menuItem.Target))">@menuItem.DisplayName </AntDesign.MenuItem>
                        }
                    }
                    <MenuItem OnClick="BeginSignOut">Logout</MenuItem>
                </Menu>
            </Overlay>
            <ChildContent>
                <a class="ant-dropdown-link" @onclick:preventDefault>
                    @if (_currentTenant.Name != null)
                    {
                        <span><i>@_currentTenant.Name</i>\@_currentUser.UserName</span>
                    }
                    else
                    {
                        <span>@_currentUser.UserName</span>
                    }
                    <Icon Type="down"/>
                </a>
            </ChildContent>
        </Dropdown>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    private async Task NavigateToAsync(string uri, string target = null)
    {
        if (target == "_blank")
        {
            await _jsRuntime.InvokeVoidAsync("open", uri, target);
        }
        else
        {
            if (uri.StartsWith("~/"))
            {
                uri = uri.Replace("~/", "");
            }
            _navigation.NavigateTo(uri);
        }
    }

    private async Task BeginSignOut()
    {
        await _signOutManager.SetSignOutState();
        await NavigateToAsync("authentication/logout");
    }

}